name: CI
on:
    push:
        branches: [develop, main]
    pull_request:
        branches: [develop, main]
jobs:
    lint:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - uses: actions/checkout@v4
            - name: Install modules
              run: bun install
            - name: Run Biome
              run: bun biome ci
            - name: Run TSC
              run: bun tsc --noEmit
